*
!.vimrc
!.zshrc
!.bashrc
!.bash_theme
!.bash_profile
!.gitconfig
!.githelpers
!.gitignore_global
!.config/fish/
!.config/alacritty/
!.config/iterm2/
!.config/nvim/
!.config/base16-shell
!.agignore
!.gemrc
!.gitignore
!.tmux.conf
!.tmux-status.conf
!.tmux_theme
!com.googlecode.iterm2.plist
!.Nord.itermcolors
!Brewfile
!setup.sh
!tokyoday.itermcolors
