*
!.vimrc
!.zshrc
!.bashrc
!.bash_theme
!.bash_profile
!.gitconfig
!.githelpers
!.gitignore_global
!.config/fish/
!.config/alacritty/
!.config/kitty/
!.agignore
!.gemrc
!.gitignore
!.tmux.conf
!.tmux_theme
!com.googlecode.iterm2.plist
!.Nord.itermcolors
!Brewfile
