[user]
  name = David Ratajczak
  email = david@mockra.com
[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  ca = commit --amend
  hist = log --format='%C(green)%h%Creset (%ar) %C(magenta)%an%Creset - %s%C(red)%d%Creset' --graph
  type = cat-file -t
  dump = cat-file -p
  l = "!source ~/.githelpers && pretty_git_log"
[color]
  ui = true
  branch = auto
  diff = auto
  status = auto
[core]
  excludesfile = ~/.gitignore_global
  editor = vim
[log]
  decorate = full
[push]
  default = simple
[github]
  user = mockra
